<form class="new-animal-form" method="post" action="/animals">
  <input type="text" name="image_url" placeholder="Full image URL" />
  <input type="text" name="name" placeholder="Your animal's name" />
  <input type="text" name="species" placeholder="Species" />
  <input class="new-animal-button" type="submit" value="Add animal!" />

</form>
